* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../4907198.jpg);
    background-size: cover;
}

a {
    color: green;
    text-decoration: none;
}

ul {
    list-style: none;
}

.h1_arriba{
    font-size: 18px;
}

.container {
    width: 90%;
    margin: auto
}

.img_logo{
    display: block;
    margin: auto;
}

/* Navigation */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

/*Nav Left*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 20px;
}

.nav-main ul li a {
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

h2{
    text-align: center;
    font-size: 24px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

/*Showcase*/

.hr1{
    margin: 10px 0;
}

.showcase {
    width: 100%;
    height: 500px;
    background-image: url(/banner_grupoVerden.jpg) no-repeat center center/cover;
    color: #fff;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.btn-read-more {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #B9BF0A;
}

.btn-read-more:hover{
    color: #B9BF0A;
}

.showcase p{
    margin-bottom: 10px;
}

/*NEWS CARDS*/

.news-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
    color: black;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a{
    padding: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}

/*CARDS BANNER ONE*/

.cards-banner-one{
    width: 100%;
    height: 350px;
    background-image: url(tg.jpg);
    background-size: cover;
    margin-bottom: 40px;
    background-size: cover;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: black;
}

.cards-banner-one p, .h22{
    margin: 10px 0 20px 0;
}

.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url(/img/tg2.jpg);
    background-size: cover;
    margin-bottom: 40px;
    color: black;
}

.cards-banner-two .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #B9BF0A;
}

.cards-banner-two p, .h23{
    margin: 10px 0 20px 0;
}

/*SOCIAL*/

.social{
    margin: 50px;
    color: black;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
    color: black;
}

.links a i{
    font-size: 3rem;
}
/*FOOTER LINKS*/

.footer-links{
    background: url(/img/tg.jpg);
    background-size: cover;
    font-size: 12px;
    padding: 35px 0;
    color: #fff;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 1.8;
    color: #fff;
}



/*FOOTER*/

.foot {
    text-align: center;
    color: black;
    padding-bottom: 40px;
}

@media(max-width: 700px) {

    .menu-btn{
        display: block;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        padding: 30px;
        opacity: .9;
        transform: translateX(-500px);      
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);   
    }

    .nav-main ul.nav-menu li {
        padding: 28px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }

    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content, 
    .cards-banner-two .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .news-cards{
        grid-template-columns: 1fr;
    }

    .news-cards img{
        height: 250px;
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container{
        grid-template-columns: 1fr;
    }

    .footer-links .footer-container ul{
        text-align: center;
    }
}
