* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    color: green;
    background: url(/img/4907198.jpg);
    background-size: cover;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: green;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto
}

/* Navigation */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

/*Nav Left*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 20px;
}

.nav-main ul li a {
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #038C65;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

h2{
    text-align: center;
    font-size: 24px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

.form-group{
    margin: auto 0;
}